IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/apiUdostepnianie/cepElementy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Kamil Mętrak (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://input.common.udo.api.cepik.coi.gov.pl" xmlns:inp="http://input.cep.udo.api.cepik.coi.gov.pl" xmlns:out="http://output.cep.udo.api.cepik.coi.gov.pl" xmlns:ele="http://elementy.cep.udo.api.cepik.coi.gov.pl" targetNamespace="http://elementy.cep.udo.api.cepik.coi.gov.pl">
    <xsd:annotation>
        <xsd:documentation>
            Version: 3.39.0
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://input.cep.udo.api.cepik.coi.gov.pl" schemaLocation="typy/cepUdoInput.xsd"/>
    <xsd:import namespace="http://output.cep.udo.api.cepik.coi.gov.pl" schemaLocation="typy/cepUdoOutput.xsd"/>

    <xsd:element name="pytanieOPojazd" type="inp:PytanieOPojazd"/>
    <xsd:element name="pytanieOPojazdRozszerzone" type="inp:PytanieOPojazdRozszerzone"/>
    <xsd:element name="pytanieOPojazdNaDate" type="inp:PytanieOPojazdNaDate"/>
    <xsd:element name="pytanieOPojazdNaDateRozszerzone" type="inp:PytanieOPojazdNaDateRozszerzone"/>
    <xsd:element name="pytanieOListeCzynnosciPojazdu" type="inp:PytanieOListeCzynnosciPojazdu"/>
    <xsd:element name="pytanieOPodmiot" type="inp:PytanieOPodmiot"/>
    <xsd:element name="pytanieODokumentPojazdu" type="inp:PytanieODokumentPojazdu"/>
    <xsd:element name="pytanieODecyzjeProfesjonalnejRejestracji" type="inp:PytanieODecyzjeProfesjonalnejRejestracji"/>
    <xsd:element name="pytanieOListeCzynnosciProfRej" type="inp:PytanieOListeCzynnosciProfRej"/>
    <xsd:element name="pytanieOHistorieLicznika" type="inp:PytanieOHistorieLicznika"/>

    <xsd:element name="pytanieOPojazdRezultat" type="out:PytanieOPojazdRezultat"/>
    <xsd:element name="pytanieOPojazdRozszerzoneRezultat" type="out:PytanieOPojazdRozszerzoneRezultat"/>
    <xsd:element name="pytanieOPojazdNaDateRezultat" type="out:PytanieOPojazdNaDateRezultat"/>
    <xsd:element name="pytanieOPojazdNaDateRozszerzoneRezultat" type="out:PytanieOPojazdNaDateRozszerzoneRezultat"/>
    <xsd:element name="pytanieOListeCzynnosciPojazduRezultat" type="out:PytanieOListeCzynnosciPojazduRezultat"/>
    <xsd:element name="pytanieOPodmiotRezultat" type="out:PytanieOPodmiotRezultat"/>
    <xsd:element name="pytanieODokumentPojazduRezultat" type="out:PytanieODokumentPojazduRezultat"/>
    <xsd:element name="pytanieODecyzjeProfesjonalnejRejestracjiRezultat" type="out:PytanieODecyzjeProfesjonalnejRejestracjiRezultat"/>
    <xsd:element name="pytanieOListeCzynnosciProfRejRezultat" type="out:PytanieOListeCzynnosciProfRejRezultat"/>
    <xsd:element name="pytanieOHistorieLicznikaRezultat" type="out:PytanieOHistorieLicznikaRezultat"/>
</xsd:schema>
