IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/apiUdostepnianie/CEPUdo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://service.cep.udo.api.cepik.coi.gov.pl" xmlns:el="http://elementy.cep.udo.api.cepik.coi.gov.pl" xmlns:ex="http://exceptions.api.cepik.coi.gov.pl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.cep.udo.api.cepik.coi.gov.pl">
	<wsdl:documentation>
        Service: Udostepnianie CEP
		Version: 3.39.0
    </wsdl:documentation>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elementy.cep.udo.api.cepik.coi.gov.pl">
			<include schemaLocation="cepElementy.xsd"/>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exceptions.api.cepik.coi.gov.pl">
			<include schemaLocation="../exceptions/exceptions.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="bladTechniczny">
		<wsdl:part name="blad" element="ex:cepikException"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPojazdRequest">
		<wsdl:part name="in0" element="el:pytanieOPojazd"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPojazdResponse">
		<wsdl:part name="out0" element="el:pytanieOPojazdRezultat"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPojazdRozszerzoneRequest">
		<wsdl:part name="in0" element="el:pytanieOPojazdRozszerzone"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPojazdRozszerzoneResponse">
		<wsdl:part name="out0" element="el:pytanieOPojazdRozszerzoneRezultat"/>
	</wsdl:message>
    <wsdl:message name="pytanieOPojazdNaDateRequest">
        <wsdl:part name="in0" element="el:pytanieOPojazdNaDate"/>
    </wsdl:message>
    <wsdl:message name="pytanieOPojazdNaDateResponse">
        <wsdl:part name="out0" element="el:pytanieOPojazdNaDateRezultat"/>
    </wsdl:message>
    <wsdl:message name="pytanieOPojazdNaDateRozszerzoneRequest">
        <wsdl:part name="in0" element="el:pytanieOPojazdNaDateRozszerzone"/>
    </wsdl:message>
    <wsdl:message name="pytanieOPojazdNaDateRozszerzoneResponse">
        <wsdl:part name="out0" element="el:pytanieOPojazdNaDateRozszerzoneRezultat"/>
    </wsdl:message>
    <wsdl:message name="pytanieODokumentPojazduRequest">
		<wsdl:part name="in0" element="el:pytanieODokumentPojazdu"/>
	</wsdl:message>
	<wsdl:message name="pytanieODokumentPojazduResponse">
		<wsdl:part name="out0" element="el:pytanieODokumentPojazduRezultat"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPodmiotRequest">
		<wsdl:part name="in0" element="el:pytanieOPodmiot"/>
	</wsdl:message>
	<wsdl:message name="pytanieOPodmiotResponse">
		<wsdl:part name="out0" element="el:pytanieOPodmiotRezultat"/>
	</wsdl:message>
	<wsdl:message name="pytanieOListeCzynnosciPojazduRequest">
		<wsdl:part name="in0" element="el:pytanieOListeCzynnosciPojazdu"/>
	</wsdl:message>
	<wsdl:message name="pytanieOListeCzynnosciPojazduResponse">
		<wsdl:part name="out0" element="el:pytanieOListeCzynnosciPojazduRezultat"/>
    </wsdl:message>
    <wsdl:message name="pytanieODecyzjeProfesjonalnejRejestracjiRequest">
		<wsdl:part name="in0" element="el:pytanieODecyzjeProfesjonalnejRejestracji"/>
	</wsdl:message>
	<wsdl:message name="pytanieODecyzjeProfesjonalnejRejestracjiResponse">
		<wsdl:part name="out0" element="el:pytanieODecyzjeProfesjonalnejRejestracjiRezultat"/>
	</wsdl:message>
    <wsdl:message name="pytanieOListeCzynnosciProfRejRequest">
		<wsdl:part name="in0" element="el:pytanieOListeCzynnosciProfRej"/>
	</wsdl:message>
	<wsdl:message name="pytanieOListeCzynnosciProfRejResponse">
		<wsdl:part name="out0" element="el:pytanieOListeCzynnosciProfRejRezultat"/>
    </wsdl:message>
    <wsdl:message name="pytanieOHistorieLicznikaRequest">
		<wsdl:part name="in0" element="el:pytanieOHistorieLicznika"/>
	</wsdl:message>
	<wsdl:message name="pytanieOHistorieLicznikaResponse">
		<wsdl:part name="out0" element="el:pytanieOHistorieLicznikaRezultat"/>
    </wsdl:message>
	<wsdl:portType name="ICepUdoWS">
		<wsdl:operation name="pytanieOPojazd">
			<wsdl:input message="impl:pytanieOPojazdRequest"/>
			<wsdl:output message="impl:pytanieOPojazdResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
		<wsdl:operation name="pytanieOPojazdRozszerzone">
			<wsdl:input message="impl:pytanieOPojazdRozszerzoneRequest"/>
			<wsdl:output message="impl:pytanieOPojazdRozszerzoneResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
        <wsdl:operation name="pytanieOPojazdNaDate">
            <wsdl:input message="impl:pytanieOPojazdNaDateRequest"/>
            <wsdl:output message="impl:pytanieOPojazdNaDateResponse"/>
            <wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
        </wsdl:operation>
        <wsdl:operation name="pytanieOPojazdNaDateRozszerzone">
            <wsdl:input message="impl:pytanieOPojazdNaDateRozszerzoneRequest"/>
            <wsdl:output message="impl:pytanieOPojazdNaDateRozszerzoneResponse"/>
            <wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
        </wsdl:operation>
		<wsdl:operation name="pytanieOPodmiot">
			<wsdl:input message="impl:pytanieOPodmiotRequest"/>
			<wsdl:output message="impl:pytanieOPodmiotResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
		<wsdl:operation name="pytanieODokumentPojazdu">
			<wsdl:input message="impl:pytanieODokumentPojazduRequest"/>
			<wsdl:output message="impl:pytanieODokumentPojazduResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
		<wsdl:operation name="pytanieOListeCzynnosciPojazdu">
			<wsdl:input message="impl:pytanieOListeCzynnosciPojazduRequest"/>
			<wsdl:output message="impl:pytanieOListeCzynnosciPojazduResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
        <wsdl:operation name="pytanieODecyzjeProfesjonalnejRejestracji">
			<wsdl:input message="impl:pytanieODecyzjeProfesjonalnejRejestracjiRequest"/>
			<wsdl:output message="impl:pytanieODecyzjeProfesjonalnejRejestracjiResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
        <wsdl:operation name="pytanieOListeCzynnosciProfRej">
			<wsdl:input message="impl:pytanieOListeCzynnosciProfRejRequest"/>
			<wsdl:output message="impl:pytanieOListeCzynnosciProfRejResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
        <wsdl:operation name="pytanieOHistorieLicznika">
			<wsdl:input message="impl:pytanieOHistorieLicznikaRequest"/>
			<wsdl:output message="impl:pytanieOHistorieLicznikaResponse"/>
			<wsdl:fault name="bladTechniczny" message="impl:bladTechniczny"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="cepUdoSoapBinding" type="impl:ICepUdoWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="pytanieOPojazd">
			<soap:operation soapAction="pytanieOPojazd"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="pytanieOPojazdRozszerzone">
			<soap:operation soapAction="pytanieOPojazdRozszerzone"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="pytanieOPojazdNaDate">
            <soap:operation soapAction="pytanieOPojazd"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="bladTechniczny">
                <soap:fault name="bladTechniczny" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="pytanieOPojazdNaDateRozszerzone">
            <soap:operation soapAction="pytanieOPojazdRozszerzone"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="bladTechniczny">
                <soap:fault name="bladTechniczny" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="pytanieODokumentPojazdu">
			<soap:operation soapAction="pytanieODokumentPojazdu"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="pytanieOPodmiot">
			<soap:operation soapAction="pytanieOPodmiot"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="pytanieOListeCzynnosciPojazdu">
			<soap:operation soapAction="pytanieOListeCzynnosciPojazdu"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="pytanieODecyzjeProfesjonalnejRejestracji">
			<soap:operation soapAction="pytanieODecyzjeProfesjonalnejRejestracji"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="pytanieOListeCzynnosciProfRej">
			<soap:operation soapAction="pytanieOListeCzynnosciProfRej"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="pytanieOHistorieLicznika">
			<soap:operation soapAction="pytanieOHistorieLicznika"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="bladTechniczny">
				<soap:fault name="bladTechniczny" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ICepUdoWSService-3-39">
		<wsdl:port name="cepUdo-3-39" binding="impl:cepUdoSoapBinding">
			<soap:address location="http://127.0.0.1:8080/cep-api"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
