IntegrationHub.Sources.CEP/Connected Services/UpKi/wsdl-xsd/uprawnienia-kierowcow-na-date-zu.udo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:upki="http://uprawnieniakierowcow-na-date-zu.tru.api.cepik.coi.gov.pl"
        targetNamespace="http://uprawnieniakierowcow-na-date-zu.tru.api.cepik.coi.gov.pl">

    <annotation>
        <documentation>
            Uprawnienia Kierowców Udostępnianie ZU
            Version: 1.0.1
        </documentation>
    </annotation>

    <element name="DaneDokumentuRequest" type="upki:DaneDokumentuRequest"/>
    <element name="DaneDokumentuResponse" type="upki:DaneDokumentuResponse"/>

    <complexType name="DaneDokumentuRequest">
        <choice>
            <element name="danePesel" type="upki:DanePesel"/>
            <element name="daneOsoby" type="upki:DaneOsoby"/>
        </choice>
    </complexType>
    <complexType name="DanePesel">
        <sequence>
            <element name="numerPesel" type="string"/>
			<element name="dataZapytania" type="date"/>
        </sequence>
    </complexType>
    <complexType name="DaneOsoby">
        <sequence>
            <element name="imiePierwsze" type="string"/>
            <element name="nazwisko" type="string"/>
            <element name="dataUrodzenia" type="date"/>
			<element name="dataZapytania" type="date"/>
        </sequence>
    </complexType>

    <complexType name="DaneDokumentuResponse">
        <sequence>
            <element name="dokumentUprawnieniaKierowcy" type="upki:DokumentUprawnieniaKierowcy" minOccurs="0"
                     maxOccurs="unbounded"/>
            <element name="komunikat" type="string" minOccurs="0"/>
            <element name="dataZapytania" type="date"/>
        </sequence>
    </complexType>

    <complexType name="DokumentUprawnieniaKierowcy">
        <sequence>
            <element name="typDokumentu" type="upki:WartoscSlownikowa" minOccurs="0"/>
            <element name="numerDokumentu" type="string" minOccurs="0"/>
            <element name="seriaNumerDokumentu" type="string" minOccurs="0"/>
            <element name="organWydajacyDokument" type="upki:WartoscSlownikowa" minOccurs="0"/>
            <element name="dataWaznosci" type="date" minOccurs="0"/>
            <element name="dataWydania" type="date" minOccurs="0"/>
            <element name="parametrOsobaId" type="upki:ParametrOsobaId" minOccurs="0"/>
            <element name="stanDokumentu" type="upki:WartoscSlownikowa" minOccurs="0">
                <annotation>
                    <documentation>DICT.003A Stan dokumentu UpKi</documentation>
                </annotation>
            </element>
            <element name="ograniczenie" type="upki:Ograniczenie" minOccurs="0" maxOccurs="unbounded"/>
            <element name="daneUprawnieniaKategorii" type="upki:DaneUprawnieniaKategorii" minOccurs="0" maxOccurs="16"/>
            <element name="komunikatyBiznesowe" type="upki:KomunikatBiznesowy" minOccurs="0">
                <annotation>
                    <documentation>DICT.462 Komunikaty biznesowe</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ParametrOsobaId">
        <sequence>
            <element name="osobaId" type="long" minOccurs="0"/>
            <element name="wariantId" type="long" minOccurs="0"/>
            <element name="tokenKierowcy" type="string" minOccurs="0"/>
            <element name="idk" type="string" minOccurs="0"/>
            <element name="daneKierowcy" type="upki:DaneKierowcy" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="DaneKierowcy">
        <sequence>
            <element name="numerPesel" type="string" minOccurs="0">
            </element>
            <element name="imiePierwsze" type="string" minOccurs="0">
            </element>
            <element name="nazwisko" type="string" minOccurs="0">
            </element>
            <element name="dataUrodzenia" type="date" minOccurs="0"/>
            <element name="miejsceUrodzenia" type="string" minOccurs="0">
            </element>
            <element name="adres" type="upki:Adres" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="DaneZakazuCofniecia">
        <sequence>
            <element name="typZdarzenia" type="string">
                <annotation>
                    <documentation>
                        Możliwe wartości:
                        cofnięcie
                        zakaz
                    </documentation>
                </annotation>
            </element>
            <element name="dataDo" type="date" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="Ograniczenie">
        <sequence>
            <element name="kodOgraniczenia" type="string" minOccurs="0"/>
            <element name="wartoscOgraniczenia" type="string" minOccurs="0"/>
            <element name="opisKodu" type="string" minOccurs="0"/>
            <element name="dataDo" type="date" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="DaneUprawnieniaKategorii">
        <sequence>
            <element name="kategoria" type="upki:WartoscSlownikowa">
                <annotation>
                    <documentation>DICT.060 Kategoria uprawnienia</documentation>
                </annotation>
            </element>
            <element name="dataWaznosci" type="date" minOccurs="0"/>
            <element name="dataWydania" type="date" minOccurs="0"/>
            <element name="daneZakazuCofniecia" type="upki:DaneZakazuCofniecia" minOccurs="0" maxOccurs="2"/>
            <element name="ograniczenie" type="upki:Ograniczenie" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="KomunikatBiznesowy">
        <sequence>
            <element name="kod" type="string" minOccurs="0"/>
            <element name="opis" type="string" minOccurs="0"/>
        </sequence>
    </complexType>


    <complexType name="WartoscSlownikowa">
        <sequence>
            <element name="kod" minOccurs="0">
                <annotation>
                    <documentation>Kod słownikowy</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"/>
                        <maxLength value="30"/>
                        <whiteSpace value="collapse"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="wartoscOpisowa" minOccurs="0">
                <annotation>
                    <documentation>Wartość opisowa</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <maxLength value="400"/>
                        <whiteSpace value="collapse"/>
                        <minLength value="1"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <complexType name="Adres">
        <sequence>
            <element name="miejsce" type="upki:Miejsce" minOccurs="0"/>
            <element name="nrLokalu" type="string" minOccurs="0"/>
            <element name="miejscowoscPodstawowa" type="upki:MiejscowoscPodstawowa" minOccurs="0"/>
            <element name="kraj" type="upki:WartoscSlownikowa" minOccurs="0"/>
            <element name="ulica" type="upki:Ulica" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="Miejsce">
        <sequence>
            <element name="kodTERYT" type="string" minOccurs="0">
            </element>
            <element name="kodWojewodztwa" type="string" minOccurs="0">
            </element>
            <element name="nazwaWojewodztwaStanu" type="string" minOccurs="0">
            </element>
            <element name="kodPowiatu" type="string" minOccurs="0">
            </element>
            <element name="nazwaPowiatuDzielnicy" type="string" minOccurs="0">
            </element>
            <element name="kodGminy" type="string" minOccurs="0">
            </element>
            <element name="nazwaGminy" type="string" minOccurs="0">
            </element>
            <element name="kodRodzajuGminy" type="string" minOccurs="0">
            </element>
            <element name="kodPocztowyKrajowy" type="string" minOccurs="0">
            </element>
            <element name="kodMiejscowosci" type="string" minOccurs="0">
            </element>
            <element name="nazwaMiejscowosci" type="string" minOccurs="0">
            </element>
        </sequence>
    </complexType>

    <complexType name="MiejscowoscPodstawowa">
        <sequence>
            <element name="kodMiejscowosciPodstawowej" type="string" minOccurs="0">
            </element>
            <element name="NazwaMiejscowosciPodstawowej" type="string" minOccurs="0">
            </element>
        </sequence>
    </complexType>


    <complexType name="Ulica">
        <sequence>
            <element name="cechaUlicy" type="upki:WartoscSlownikowa" minOccurs="0"/>
            <element name="kodUlicy" type="string" minOccurs="0">
            </element>
            <element name="nazwaUlicy" type="string" minOccurs="0">
            </element>
            <element name="nazwaUlicyZDokumentu" type="string" minOccurs="0">
            </element>
            <element name="nrDomu" type="string" minOccurs="0">
            </element>
        </sequence>
    </complexType>
</schema>
