external/wsdl/pl/gov/msw/srp/v3_0/uslugi/pesel/parametry/parametry.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://msw.gov.pl/srp/v3_0/uslugi/pesel/parametry/" version="3.0" xmlns:kmd="http://msw.gov.pl/srp/v3_0/domena/kmd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd_1="http://msw.gov.pl/srp/v3_0/uslugi/pesel/parametry/">
  <xsd:import namespace="http://msw.gov.pl/srp/v3_0/domena/kmd/" schemaLocation="../../../domena/kmd/kmd.xsd"/>
  <xsd:complexType name="Kontekst">
    <xsd:annotation>
      <xsd:documentation>Typ zawiera informację czy wyszukiwanie lub udostępnianie danych odbywa się w ramach prowadzonego postępowania (TAK/NIE). Dodatkowo kontekst może zawierać informację o identyfikatorze sprawy, w związku z którą wykonywana jest operacja. Identyfikator sprawy jest zapisywany w rejestrze udostępnień danych PESEL.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numerSprawy" type="kmd:KrotkiTekst">
        <xsd:annotation>
          <xsd:documentation>Opcjonalna informacja o numerze sprawy, w związku z którą udostępniane są dane z rejestru PESEL.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postepowanie" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Informacja czy dane udostępniane są w ramach prowadzonego postępowania (TAK/NIE).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaNumerowPesel">
    <xsd:annotation>
      <xsd:documentation>Typ służy przekazywaniu listy numerów pesel osób.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="numerPesel" type="kmd:Pesel">
        <xsd:annotation>
          <xsd:documentation>Lista numerów pesel.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>