external/wsdl/pl/gov/msw/srp/v3_0/uslugi/pesel/parametry/udostepnianie.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://msw.gov.pl/srp/v3_0/uslugi/pesel/parametry/udostepnianie/" version="3.0" xmlns:pes="http://msw.gov.pl/srp/v3_0/domena/pesel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://msw.gov.pl/srp/v3_0/domena/pesel/"
              schemaLocation="../../../domena/pesel/pesel.xsd"/>
  <xsd:complexType name="ListaIdOsob">
    <xsd:annotation>
      <xsd:documentation>Typ służy przekazywaniu listy identyfikatorów osób.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="idOsoby" type="pes:IdDaneOsoby">
        <xsd:annotation>
          <xsd:documentation>Lista identyfikatorów osób.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaDanychOsob">
    <xsd:annotation>
      <xsd:documentation>Typ służy przekazywaniu listy danych osób.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="daneOsob" type="pes:DaneOsobyOut">
        <xsd:annotation>
          <xsd:documentation>Lista danych osób.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ListaDanychOsob2">
        <xsd:annotation>
            <xsd:documentation>Typ służy przekazywaniu listy danych osób. Wybrane dane dla systemu CEPiK</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="daneOsob" type="pes:DaneOsoby2">
                <xsd:annotation>
                    <xsd:documentation>Lista danych osób.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListaDanychOstatniegoPaszportu">
        <xsd:annotation>
            <xsd:documentation>Typ służy przekazywaniu listy danych osób.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="danePaszportoweOsob" type="pes:DaneOstatniegoPaszportuOut">
                <xsd:annotation>
                    <xsd:documentation>Lista danych paszportowych osób.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListaDanychDzieci">
        <xsd:annotation>
            <xsd:documentation>Typ służy przekazywaniu listy danych dzieci.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="daneDziecka" type="pes:DaneDziecka">
                <xsd:annotation>
                    <xsd:documentation>Lista danych dzieci.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListaDanychDzieci2">
        <xsd:annotation>
            <xsd:documentation>Typ służy przekazywaniu listy danych dzieci.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="daneDziecka" type="pes:DaneDziecka2">
                <xsd:annotation>
                    <xsd:documentation>Lista danych dzieci.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>