IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/niezgodnosciTagi/niezgodnosciTagiZasilanie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Centralny Osrodek Informatyki (Centralny Osrodek Informatyki) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:niezg="http://niezg.api.cepik.coi.gov.pl" targetNamespace="http://niezg.api.cepik.coi.gov.pl">
	<annotation>
		<documentation>Version: 1.4.0</documentation>
	</annotation>
	<complexType name="NiezgodnoscAtrybutowaZasilanie">
		<sequence>
			<element name="sekcjaNiezgodnosci" type="niezg:SekcjaNiezgodnosciAtrybutowa" maxOccurs="unbounded">
				<annotation>
					<documentation>Odpowiedzi dla niezgodności atrybutowych.

Dopuszczalne kody akcji:

OV - żądanie zapisania danych obiektu mimo nie rozwiązania niezgodności na pole
ET - żądanie przekierowania niezgodności na właściciela zbioru referencyjnego -problem spójności referencyjnej
UC - potwierdzenia poprawności danych
UN - poprawiono wartości w polach obiektu
UA - brak niemożności odniesienia się do niezgodności atrybutowej
WO - prośba o przekierowanie niezgodności na inny ORN (bez zmiany danych obiektu)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscObiektowaZasilanie">
		<sequence>
			<element name="sekcjaNiezgodnosci" type="niezg:SekcjaNiezgodnosciObiektowa" maxOccurs="unbounded">
				<annotation>
					<documentation>Odpowiedzi dla niezgodności obiektowych.

Dopuszczalne kody akcji:

UC - Potwierdzenie poprawności danych
UN - Korekta danych w polu/ polach
DP - Dane potwierdzone do przerejstrowania. Organ nie dysponuje pełnym zakresem danych
DQ - Dane potwierdzone. Organ dysponuje pełnym zakresem danych
DN - Przekazanie informacji o niepotwierdzeniu danych pojazdu. Organ dysponuje pełnym zakresem danych
DO - Przekazanie informacji o niepotwierdzeniu danych pojazdu. Organ nie dysponuje pełnym zakresem danych
WO - przekierowanie na inny organ
OA - dowiązano obiekt wcześniej istniejący
EN - dowiązano obiekt stworzony na skutek potwierdzenia zasadności zgłoszenia
DD - dodano brakujący dokument
KO - wykonano korektę istniejącego dokumentu. Nie dodawano dokumentu
UA - niemożność odniesienia się
ZC  - dokument na wydano dla innego pojazdu
ZK  - dokument wydano dla innego kierowcy</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SekcjaNiezgodnosci">
		<sequence>
			<element name="idNiezgodnosci" type="long">
				<annotation>
					<documentation>Identyfikator systemowy niezgodności</documentation>
				</annotation>
			</element>
			<element name="kodAkcji" type="niezg:KodSlownikowyNiezgodnosc">
				<annotation>
					<documentation>Kod akcji - wartość słownikowa: DICT.225 Odpowiedź z ORN</documentation>
				</annotation>
			</element>
			<element name="komentarzDoOdpowiedzi" minOccurs="0">
				<annotation>
					<documentation>Komentarz do odpowiedzi</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="500"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="OrganRozwiazujacy">
		<sequence>
			<element name="nowyOrgan" type="niezg:KodSlownikowyNiezgodnosc">
				<annotation>
					<documentation>Nowy organ rozwiązujący niezgoność. Wartość słowniowa: DICT.181 Podmioty rozwiązujące niezgodność</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="KierowcaKtoremuWydanoDokument">
		<sequence>
			<element name="identyfikatorSystemowyOsoby" type="long">
				<annotation>
					<documentation>Identyfikator systemowy osoby</documentation>
				</annotation>
			</element>
			<element name="wariantOsoby" type="int">
				<annotation>
					<documentation>Wariant osoby</documentation>
				</annotation>
			</element>
			<element name="imiePierwsze">
				<annotation>
					<documentation>Pierwsze imię.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="210"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="imieDrugie" minOccurs="0">
				<annotation>
					<documentation>Drugie imię.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="210"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="nazwisko">
				<annotation>
					<documentation>Nazwisko.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="250"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="pesel" minOccurs="0">
				<annotation>
					<documentation>PESEL</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="11"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PojazdDoKtoregoNalezyDokument">
		<sequence>
			<element name="identyfikatorSystemowyPojazdu" type="long">
				<annotation>
					<documentation>Identyfikator systemowy pojazu</documentation>
				</annotation>
			</element>
			<element name="numerRejestracyjny" minOccurs="0">
				<annotation>
					<documentation>Numer tablicy rejestracyjnej - pole obowiązkowe w przypadku,gdy niezgodność dotyczy pojazdu i zgłoszenie nie dotyczy braku tablicy rejestracyjnej </documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="24"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="numerPodwoziaNadwoziaRamy" minOccurs="0">
				<annotation>
					<documentation>Numer VIN - pole obowiązkowe w przypadku,gdy niezgodność dotyczy pojazdu</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="75"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CzynnoscBiznesowaPotwierdzaniaDanych">
		<sequence>
			<element name="rodzajPrzekazywanejCzynnosci" type="niezg:KodSlownikowyNiezgodnosc">
				<annotation>
					<documentation>Rodzaj przekazywanej czynności w komunikacie - wartość słownikowa: DICT.059 Czynności CEPiK</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="IdentyfikatorUzupelnionegoObiektuDlaKanaluZwyklego">
		<sequence>
			<element name="idObiektuNajwyzszegoPoziomu" type="long" minOccurs="0">
				<annotation>
					<documentation>Identyfikator systemowy pojazdu lub osoby lub karty parkingowej zależnie od ewidencji, do której zgłoszono niezgodność.
Jeżeli niezgodność dotyczyła braku dokumentu to pole obowiązkowe.</documentation>
				</annotation>
			</element>
			<choice>
				<element name="idDokumentu">
					<annotation>
						<documentation>Identyfikator systemowy dokumentu. Dla polisy OC pole typu string. W pozostałych przypadkach pole typu long rzutowane na string.

Pole obowiązkowe jeżeli niezgodność dotyczy braku dokumentu i identyfikator systemowy jest udostępniany.</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<minLength value="1"/>
							<whiteSpace value="collapse"/>
							<maxLength value="19"/>
						</restriction>
					</simpleType>
				</element>
				<element name="seriaINrDokumentu">
					<annotation>
						<documentation>Seria jeżeli występuje i numer uzupełnionego dokumentu, pobrane z CEPiK po zapisaniu danych.

Pole obowiązkowe jeżeli niezgodność dotyczy braku dokumentu i nie został podany identyfikator dokumentu</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<maxLength value="256"/>
							<minLength value="1"/>
							<whiteSpace value="collapse"/>
						</restriction>
					</simpleType>
				</element>
			</choice>
		</sequence>
	</complexType>
	<complexType name="KodSlownikowyNiezgodnosc">
		<sequence>
			<element name="kod">
				<annotation>
					<documentation>Kod Słownikowy</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="210"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SekcjaNiezgodnosciAtrybutowa">
		<complexContent>
			<extension base="niezg:SekcjaNiezgodnosci">
				<sequence minOccurs="0">
					<element name="organRozwiazujacy" type="niezg:OrganRozwiazujacy">
						<annotation>
							<documentation>dotyczy odpowiedzi WO (przekierowanie na inny ORN)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SekcjaNiezgodnosciObiektowa">
		<complexContent>
			<extension base="niezg:SekcjaNiezgodnosci">
				<choice minOccurs="0">
					<element name="nowyOrganRozwiazujacy" type="niezg:OrganRozwiazujacy">
						<annotation>
							<documentation>dotyczy odpowiedzi WO (przekierowanie na inny ORN)</documentation>
						</annotation>
					</element>
					<element name="czynnoscBiznesowaPotwierdzaniaDanych" type="niezg:CzynnoscBiznesowaPotwierdzaniaDanych">
						<annotation>
							<documentation>Czynność biznesowa potwierdzania danych dla odpowiedzi: 
DP (Dane potwierdzone do przerejstrowania. organ nie dysponuje pełnym zakresem danych) , 
DQ (Dane potwierdzone do przerejstrowania. organ dysponuje pełnym zakresem danych)
,
DN (Przekazanie informacji o niepotwierdzeniu danych pojazdu. Organ dysponuje pełnym zakresem danych)
,
DO (Przekazanie informacji o niepotwierdzeniu danych pojazdu. Organ nie dysponuje pełnym zakresem danych)</documentation>
						</annotation>
					</element>
					<element name="pojazdDoKtoregoNalezyDokument" type="niezg:PojazdDoKtoregoNalezyDokument">
						<annotation>
							<documentation>Dane pojazdu, do którego należy dokuement. Dotyczy odpowiedzi ZC (dokument wydano do innego pojazdu)</documentation>
						</annotation>
					</element>
					<element name="kierowcaKtoremuWydanoDokument" type="niezg:KierowcaKtoremuWydanoDokument">
						<annotation>
							<documentation>Dane kierowcy, któremu wydano dokument. Dotyczy odpowiedzi ZK (dokument wydano innemu kierowcy)</documentation>
						</annotation>
					</element>
					<element name="identyfikatorUzupelnionegoObiektuDlaKanaluZwyklego" type="niezg:IdentyfikatorUzupelnionegoObiektuDlaKanaluZwyklego">
						<annotation>
							<documentation>Dotyczy odpowiedzi 
OA Dowiązano do niezgodności istniejący obiekt, 
EN (Dowiązano do niezgodności nowo utworzony obiekt), 
DD (Dodano obiekt)</documentation>
						</annotation>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
</schema>
