IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/niezgodnosciTagi/niezgodnosciTagiTypy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Centralny Osrodek Informatyki (Centralny Osrodek Informatyki) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:niezg="http://niezg.api.cepik.coi.gov.pl" targetNamespace="http://niezg.api.cepik.coi.gov.pl">
	<annotation>
		<documentation>Version: 1.4.0</documentation>
	</annotation>
	<simpleType name="ListaIdNiezgodnosci">
		<list itemType="long"/>
	</simpleType>
	<attributeGroup name="ListaNiezgodnosciAtrybutowych">
		<attribute name="idNiezgodnosciAtrybutowych" type="niezg:ListaIdNiezgodnosci"/>
	</attributeGroup>
	<attributeGroup name="ListaNiezgodnosciObiektowych">
		<attribute name="idNiezgodnosciObiektowych" type="niezg:ListaIdNiezgodnosci"/>
	</attributeGroup>
	<attributeGroup name="ListaNiezgodnosciNiedowiazanych">
		<attribute name="idNiezgodnosciNiedowiazanych" type="niezg:ListaIdNiezgodnosci"/>
	</attributeGroup>
	<complexType name="StringNiezg">
		<simpleContent>
			<extension base="string">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DateNiezg">
		<simpleContent>
			<extension base="date">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DateTimeNiezg">
		<simpleContent>
			<extension base="dateTime">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ByteNiezg">
		<simpleContent>
			<extension base="byte">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DecimalNiezg">
		<simpleContent>
			<extension base="decimal">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="FloatNiezg">
		<simpleContent>
			<extension base="float">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IntNiezg">
		<simpleContent>
			<extension base="int">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IntegerNiezg">
		<simpleContent>
			<extension base="integer">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="LongNiezg">
		<simpleContent>
			<extension base="long">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BooleanNiezg">
		<simpleContent>
			<extension base="boolean">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IdentyfikatorSystemowyNiezg">
		<simpleContent>
			<extension base="long">
				<attributeGroup ref="niezg:ListaNiezgodnosciObiektowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IdentyfikatorSystemowyStringNiezg">
		<simpleContent>
			<extension base="string">
				<attributeGroup ref="niezg:ListaNiezgodnosciObiektowych"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IdentyfikatorSystemowyObiektuNajwyzszegoRzeduNiezg">
		<simpleContent>
			<extension base="long">
				<attributeGroup ref="niezg:ListaNiezgodnosciObiektowych"/>
				<attributeGroup ref="niezg:ListaNiezgodnosciNiedowiazanych"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<simpleType name="TriState">
		<annotation>
			<documentation>
				Typ logiczny zawierający 3 wartości:
				T - tak
				N - nie
				B - brak danych
			</documentation>
		</annotation>
        <restriction base="string">
            <enumeration value="T"/>
            <enumeration value="N"/>
			<enumeration value="B"/>
		</restriction>
    </simpleType>

    <complexType name="TriStateNiezg">
		<simpleContent>
			<extension base="niezg:TriState">
				<attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
