IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/niezgodnosciTagi/niezgodnosciTagiUdostepnianie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by Centralny Osrodek Informatyki (Centralny Osrodek Informatyki) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:niezg="http://niezg.api.cepik.coi.gov.pl" targetNamespace="http://niezg.api.cepik.coi.gov.pl">
	<annotation>
		<documentation>Version: 1.4.0</documentation>
	</annotation>
	<complexType name="NiezgodnoscNiedowiazanaUdostepnianie">
		<sequence>
			<element name="niezgodnoscNiedowiazanaKanalZwykly" type="niezg:NiezgodnoscKanalZwyklyNiedowiazana" maxOccurs="unbounded">
				<annotation>
					<documentation>Niezgodność kanał zwykły</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscAtrybutowaUdostepnianie">
		<sequence>
			<element name="niezgodnoscKanalZwykly" type="niezg:NiezgodnoscKanalZwyklyAtrybutowa" maxOccurs="unbounded">
				<annotation>
					<documentation>Niezgodność kanał zwykły</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscObiektowaUdostepnianie">
		<sequence>
			<element name="niezgodnoscKanalZwykly" type="niezg:NiezgodnoscKanalZwyklyObiektowa" maxOccurs="unbounded">
				<annotation>
					<documentation>Niezgodność kanał zwykły</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscKanalZwykly">
		<sequence>
			<element name="idNiezgodnosci" type="long">
				<annotation>
					<documentation>Identyfikator systemowy niezgodności</documentation>
				</annotation>
			</element>
			<element name="sposobFormatowania" type="niezg:WartoscSlownikowaNiezgodnosc">
				<annotation>
					<documentation>Sposób formatowania

DICT.299 Rodzaj formatowania niezgodności</documentation>
				</annotation>
			</element>
			<element name="przyjaznyOpisKonfliktu">
				<annotation>
					<documentation>Przyjazny opis konfliktu</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1000"/>
						<whiteSpace value="collapse"/>
						<minLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="statusNiezgodnosci" type="niezg:WartoscSlownikowaNiezgodnosc">
				<annotation>
					<documentation>Status niezgodności - wartość słownikowa: DICT.219 Status niezgodności</documentation>
				</annotation>
			</element>
			<element name="ORN" type="niezg:WartoscSlownikowaNiezgodnosc">
				<annotation>
					<documentation>Organ rozwiązujący niezgodność - wartość słownikowa: DICT.181 Podmioty rozwiązujące niezgodność</documentation>
				</annotation>
			</element>
			<element name="dopuszczalnoscUdzieleniaOdpowiedzi" type="niezg:WartoscSlownikowaNiezgodnosc">
				<annotation>
					<documentation>Dopuszczalność udzielenia odpowiedzi - wartość słownikowa: DICT.236 Obligatoryjność rozwiązania niezgodności</documentation>
				</annotation>
			</element>
			<element name="oczekiwanaDataRozwiazania" type="date" minOccurs="0">
				<annotation>
					<documentation>Oczekiwana data rozwiązania</documentation>
				</annotation>
			</element>
			<element name="typObiektuObjetegoNiezgodnoscia" type="niezg:WartoscSlownikowaNiezgodnosc" minOccurs="0">
				<annotation>
					<documentation>Typ obiektu objętego niezgodnością -  wartość słownikowa: DICT.241 Obiekty niezgodności</documentation>
				</annotation>
			</element>
			<element name="komentarzDoOdpowiedziZPoprzedniegoORN" minOccurs="0">
				<annotation>
					<documentation>Komentarz do odpowiedzi z poprzedniego Organu Rozwiazujacego Niezgodnosc</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="500"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscKanalZwyklyNiedowiazana">
		<complexContent>
			<extension base="niezg:NiezgodnoscKanalZwykly">
				<sequence>
					<element name="informacjaZOZ" type="niezg:InformacjeZOZ" minOccurs="0">
						<annotation>
							<documentation>Informacja z Organu Zgłaszającego</documentation>
						</annotation>
					</element>
					<element name="niezgodnoscNaPoleNZ" type="niezg:NiezgodnoscNaPoleNZ" minOccurs="0">
						<annotation>
							<documentation>Niezgodność na pole</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NiezgodnoscKanalZwyklyAtrybutowa">
		<complexContent>
			<extension base="niezg:NiezgodnoscKanalZwykly">
				<sequence>
					<element name="informacjaZOZ" type="niezg:InformacjeZOZ" minOccurs="0">
						<annotation>
							<documentation>Informacja z Organu Zgłaszającego</documentation>
						</annotation>
					</element>
					<element name="niezgodnoscNaPoleNZ" type="niezg:NiezgodnoscNaPoleNZ">
						<annotation>
							<documentation>Niezgodność na pole</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NiezgodnoscKanalZwyklyObiektowa">
		<complexContent>
			<extension base="niezg:NiezgodnoscKanalZwykly">
				<sequence>
					<element name="informacjaZOZ" type="niezg:InformacjeZOZ" minOccurs="0">
						<annotation>
							<documentation>Informacja z Organu Zgłaszającego</documentation>
						</annotation>
					</element>
					<element name="grupaDuplikaty" type="niezg:GrupaDuplikaty" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Grupa identyfikatorów biznesowych obiektów duplikatów</documentation>
						</annotation>
					</element>
					<element name="grupaBledowReferencji" type="niezg:GrupaBledowReferencji" minOccurs="0">
						<annotation>
							<documentation>Grupa identyfikatorów słowników zależnych.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InformacjeZOZ">
		<sequence>
			<element name="uzasadnienie" type="niezg:WartoscSlownikowaNiezgodnosc" minOccurs="0">
				<annotation>
					<documentation>Uzasadnienie

DICT.140 Uzasadnienie zgłoszonej niezgodności</documentation>
				</annotation>
			</element>
			<element name="uzupelnienieUzasadnienia" minOccurs="0">
				<annotation>
					<documentation>Uzupełnienie uzasadnienia</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="500"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="idSkanu" type="long" minOccurs="0" maxOccurs="4">
				<annotation>
					<documentation>Identyfikator skanu dokumentu dołączonego do uzasadnienia zgłoszenia niezgodności</documentation>
				</annotation>
			</element>
			<element name="kategoriaOrganuZglaszajacego" type="niezg:WartoscSlownikowaNiezgodnosc" minOccurs="0">
				<annotation>
					<documentation>Kategoria organu zgłaszającego - wartość słownikowa: DICT.062 Typ podmiotu uprawnionego</documentation>
				</annotation>
			</element>
			<element name="zglaszajacy" minOccurs="0">
				<annotation>
					<documentation>Zgłaszający</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="100"/>
						<whiteSpace value="collapse"/>
						<minLength value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="NiezgodnoscNaPoleNZ">
		<sequence>
			<element name="nazwaAtrybutuKwestionowaneg">
				<annotation>
					<documentation>Nazwa atrybutu, którego dotyczy zgłoszenie niezgodności</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="256"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="zakwestionowanaWartosc" nillable="true">
				<annotation>
					<documentation>Wartość zakwestionowana w momencie zgłoszenia niezgodności</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="4000"/>
						<minLength value="1"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="proponowanaWartosc" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Wartość zaproponowana przez zgłaszającego niezgodność</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="4000"/>
						<whiteSpace value="collapse"/>
						<minLength value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="GrupaBledowReferencji">
		<sequence>
			<element name="slownikiZalezne" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Identyfikator słownika.
Pole uzupełniane jeśli do rozwiązania niezgodności konieczne jest skorzystanie z jakiegoś słownika dodatkowego (np. słownik powiatów słownik województw).</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="GrupaDuplikaty">
		<sequence>
			<element name="idBiznesowyObiektuDuplikatu" type="long">
				<annotation>
					<documentation>Identyfikator biznesowy obiektu duplikatu</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="WartoscSlownikowaNiezgodnosc">
		<sequence>
			<element name="kod">
				<annotation>
					<documentation>Kod słownikowy</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="30"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="wartoscOpisowa">
				<annotation>
					<documentation>Wartość opisowa</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="400"/>
						<whiteSpace value="collapse"/>
						<minLength value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="NiezgodnosciUdostepnianie">
		<sequence>
			<element name="niezgodnosciAtrybutowe" type="niezg:NiezgodnoscAtrybutowaUdostepnianie" minOccurs="0"/>
			<element name="niegodnosciObiektowe" type="niezg:NiezgodnoscObiektowaUdostepnianie" minOccurs="0"/>
			<element name="niezgodnosciNiedowiazane" type="niezg:NiezgodnoscNiedowiazanaUdostepnianie" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
