src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianieCommon_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ZapytanieModel">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="model" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytanieTyp">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="typ" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytanieMarka">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="marka" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodMarki" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytaniePrzeznaczenie">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="przeznaczenie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodPrzeznaczenia" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytaniePodrodzaj">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="podrodzaj" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodPodrodzaju" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytanieRodzaj">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rodzaj" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodRodzaju" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzSlownikRezultat">
		<xsd:sequence>
			<xsd:element name="slowniki" type="slo:Slowniki"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Slowniki">
		<xsd:sequence>
			<xsd:element name="slownik" type="slo:Slownik" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Slownik">
		<xsd:sequence>
			<xsd:element name="naglowekSlownika" type="slo:NaglowekSlownika"/>
			<xsd:element name="wartosci" type="slo:WartosciSlownikowe"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentyfikatoryWartosci">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="identyfikatorWartosci" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KodWartosci">
		<xsd:sequence>
			<xsd:element name="identyfikatorSlownika" type="xsd:string" minOccurs="0"/>
			<xsd:element name="kodWartosciSlownikowej" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KodyWartosci">
		<xsd:sequence>
			<xsd:element name="kodWartosci" type="slo:KodWartosci" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Identyfikatory">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="kod" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentyfikatoryRezultat">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:integer"/>
			<xsd:element name="kod" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzKategorieHomologacjiRezultat">
		<xsd:sequence>
			<xsd:element name="kategoriaHomologacji" type="slo:KategorieHomologacji" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KategorieHomologacji">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="idr" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="idw" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="nazwa" type="xsd:string"/>
			<xsd:element name="kodKategoriiHomologacji" type="xsd:string"/>
			<xsd:element name="opis" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="zrodlo" type="xsd:long"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzRodzajePaliwRezultat">
		<xsd:sequence>
			<xsd:element name="rodzajPaliwa" type="slo:RodzajePaliw" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Marka">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="kodMarki" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Marka - kod nadany przez ITS  - jest to kod po którym robione sa relacje pomiędzy tabelami model, typ i innych. Jest on nieunikalny</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marka" type="xsd:string"/>
			<xsd:element name="idr" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="idw" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="nazwaPodstawowa" type="xsd:boolean"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RodzajePaliw">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="idr" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="idw" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="nazwa" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Wartość opisowa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kodPaliwa" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="zrodlo" type="xsd:long" minOccurs="0"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzSlownikITS">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="oznaczenie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="opis" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="stanNaDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzSlownikITSRezultat">
		<xsd:sequence>
			<xsd:element name="rekord" type="slo:Rekordy" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rekordy">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="idr" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="idw" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="oznaczenie" type="xsd:string" minOccurs="0"/>
			<xsd:element name="opis" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="zrodlo" type="xsd:long" minOccurs="0"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentyfikatorSlownika">
		<xsd:sequence>
			<xsd:element name="idSlownika" type="xsd:string"/>
			<xsd:element name="typSlownika" type="slo:KodSlownikowy" minOccurs="0"/>
			<xsd:element name="idRekorduNadrzednego" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Jeżeli pytamy o słownik złozony i chcemy uzyskać wszystkie dzieci rekordu nadrzędnego (poddrzewo słownika zlozonego)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentyfikatorySlownikow">
		<xsd:sequence>
			<xsd:element name="identyfikatorSlownika" type="slo:IdentyfikatorSlownika" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Subskrypcja">
		<xsd:sequence>
			<xsd:element name="dataOstatniejAktualizacji" type="xsd:dateTime"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzListeModyfikacji">
		<xsd:sequence>
			<xsd:element name="dataOd" type="xsd:dateTime"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowa">
		<xsd:sequence>
			<xsd:element name="kod" type="xsd:string"/>
			<xsd:element name="wartoscOpisowa" type="xsd:string" minOccurs="0"/>
			<xsd:element name="identyfikatorSlownika" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KodSlownikowy">
		<xsd:sequence>
			<xsd:element name="kod" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartosciSlownikowe">
		<xsd:sequence>
			<xsd:element name="wartoscSlownika" type="slo:WartoscSlownika" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownika">
		<xsd:sequence>
			<xsd:element name="idSlownika" type="xsd:string"/>
			<xsd:element name="idWartosci" type="xsd:long"/>
			<xsd:element name="kod" type="xsd:string"/>
			<xsd:element name="wartoscOpisowa" type="xsd:string"/>
			<xsd:element name="opis" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
			<xsd:element name="idSlownikaBazowego" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idRekorduSlownikaBazowego" type="xsd:long" minOccurs="0"/>
			<xsd:element name="poziomHierarchii" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>0...n, wartość zwracana jedynie dla słownika złożonego</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="idRekorduNadrzednego" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>wartość zwracana jedynie dla słownika złożonego</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wartoscOpisowaSkonsolidowana" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Połączone wartości opisowe całej zwracanej hierarchii wartości</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NaglowekSlownika">
		<xsd:annotation>
			<xsd:documentation>Dane pobierane z tabeli slownikow</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="rodzajSlownika" type="slo:WartoscSlownikowa">
				<xsd:annotation>
					<xsd:documentation>DICT.268 Rodzaj słownika</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
			<xsd:element name="nazwaSlownika" type="xsd:string"/>
			<xsd:element name="opis" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzListeModyfikacjiRezultat">
		<xsd:sequence>
			<xsd:element name="rekord" type="slo:Rekord" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rekord">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="statusRekordu" type="slo:StatusRekordu"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartoscZakresowa">
		<xsd:annotation>
			<xsd:documentation>
                Typ opisujący wartość ze zdefiniowanym zakresem wartości. Dla pola odpowiadającego takiej wartości dozwolone są jedyne wartości X, takie, że
                wartoscDolnaZakresu &#8804; X oraz wartoscGornaZakresu &#8805; X.
                Pole wartoscTypowa określa proponowaną wartość pola.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wartoscTypowa" type="xsd:float" minOccurs="0"/>
			<xsd:element name="wartoscDolnaZakresu" type="xsd:float" minOccurs="0"/>
			<xsd:element name="wartoscGornaZakresu" type="xsd:float" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartoscZakresowaI">
		<xsd:annotation>
			<xsd:documentation>
				Typ opisujący wartość ze zdefiniowanym zakresem wartości. Dla pola odpowiadającego takiej wartości dozwolone są jedyne wartości X, takie, że
				wartoscDolnaZakresu &#8804; X oraz wartoscGornaZakresu &#8805; X.
				Pole wartoscTypowa określa proponowaną wartość pola.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wartoscTypowa" type="xsd:int" minOccurs="0"/>
			<xsd:element name="wartoscDolnaZakresu" type="xsd:int" minOccurs="0"/>
			<xsd:element name="wartoscGornaZakresu" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WartoscZakresowaZuzycia">
		<xsd:annotation>
			<xsd:documentation>Jednostka - pozycja ze słownika DICT_442.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="slo:WartoscZakresowaD">
				<xsd:sequence>
					<xsd:element name="jednostka" type="slo:WartoscSlownikowa" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscZakresowaD">
		<xsd:annotation>
			<xsd:documentation>
                Typ opisujący wartość ze zdefiniowanym zakresem wartości. Dla pola odpowiadającego takiej wartości dozwolone są jedyne wartości X, takie, że
                wartoscDolnaZakresu &#8804; X oraz wartoscGornaZakresu &#8805; X.
                Pole wartoscTypowa określa proponowaną wartość pola.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wartoscTypowa" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="wartoscDolnaZakresu" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="wartoscGornaZakresu" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Stronicowanie">
		<xsd:sequence>
			<xsd:element name="pozycja">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="liczbaStron">
				<xsd:annotation>
					<xsd:documentation>parametr określający liczbę wszystkich dostępnych stron, numeracja rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JednostkaTerytorialna">
		<xsd:sequence>
			<xsd:element name="kod" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>kod teryt jednostki terytorialnej</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwa" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>nazwa jednostki terytorialnej</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Zrodlo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusRekordu">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="H"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TakNieBrakDanych">
		<xsd:annotation>
			<xsd:documentation>Stany: T (tak) lub N (nie) lub B (brak danych)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="B"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Jednostka">
		<xsd:sequence>
			<xsd:element name="kod" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kod jednostki.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wartoscOpisowa" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wartość opisowa jednostki.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
