src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzPanstwa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzPanstwa_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzPanstwa">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="nazwaPanstwa" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nazwaObywatelstwa" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodAlfa2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodAlfa3" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodMks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="stanNaDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzPanstwaRezultat">
		<xsd:sequence>
			<xsd:element name="panstwo" type="slo:Panstwo" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Panstwo">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="nazwa" type="xsd:string"/>
			<xsd:element name="nazwaObywatelstwa" type="xsd:string"/>
			<xsd:element name="kodAlfa2" type="xsd:string"/>
			<xsd:element name="kodAlfa3" type="xsd:string"/>
			<xsd:element name="kodMks" type="xsd:string" minOccurs="0"/>
			<xsd:element name="czyNalezyDoUE" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
