src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzListeSlownikow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzListeSlownikow_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:complexType name="PobierzListeSlownikow">
		<xsd:sequence>
			<xsd:element name="idSlownika" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nazwaSlownika" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="typSlownika" type="slo:KodSlownikowy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DICT.268 Rodzaj słownika</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataSubskrypcji" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Po podaniui daty subskrypcji zostaną zwrócone słowniki dodane lub zmodyfikowane (czyli zmiany w nagłówku bądź danych słownika) od podanej daty.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzListeSlownikowRezultat">
		<xsd:sequence>
			<xsd:element name="slownik" type="slo:NaglowekSlownika" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
