src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzWLTPSubskrypcja.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:include schemaLocation="pobierzWLTP.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzWariantyHomologacjiSubskrypcja_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzWLTPSubskrypcja">
		<xsd:complexContent>
			<xsd:extension base="slo:Subskrypcja"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PobierzWLTPSubskrypcjaRezultat">
		<xsd:complexContent>
			<xsd:extension base="slo:PobierzWLTPRezultat">
				<xsd:sequence>
					<xsd:element name="timestamp" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
