src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzSlownik.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzSlownik_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzSlownik">
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="stanNaDate" type="xsd:dateTime"/>
				<xsd:element name="dataSubskrypcji" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>
						Po podaniu daty subskrypcji zostaną zwrócone wszystkie wpisy słowników (wymienionych w tagu identyfikatorySLownikow) które zostały dodane lub zmodyfikowane od podanej daty do chwili obecnej. Przy pobieraniu subskrypcji nie jest uwzględniana data z pola "data".
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="identyfikatorySlownikow" type="slo:IdentyfikatorySlownikow"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzSlownikListaModyfikacji">
		<xsd:sequence>
			<xsd:element name="identyfikatorySlownikow" type="slo:IdentyfikatorySlownikow"/>
			<xsd:element name="zakres" type="slo:PobierzListeModyfikacji"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzSlownikListaModyfikacjiRezultat">
		<xsd:sequence>
			<xsd:element name="listaModyfikacji" type="slo:SlownikListaModyfikacjiRezultat" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SlownikListaModyfikacjiRezultat">
		<xsd:sequence>
			<xsd:element name="identyfikatorSlownika" type="xsd:string"/>
			<xsd:element name="rekord" type="slo:Rekord" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
