src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzWyroznikOR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzWyroznikiOR_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzWyroznikOR">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="typSprawdzenia" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="wyroznik" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="stanNaDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzWyroznikORRezultat">
		<xsd:sequence>
			<xsd:element name="wyroznik" type="slo:Wyroznik" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Wyroznik">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="typSprawdzenia" type="xsd:string"/>
			<xsd:element name="wor" type="xsd:string"/>
			<xsd:element name="wor2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="wor3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="kodTerytWojewodztwa" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nazwaWojewodztwaStanu" type="xsd:string" minOccurs="0"/>
			<xsd:element name="kodTerytPowiatu" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nazwaPowiatuDzielnicy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="czyTablicaDyplomatyczna" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idPodmiotu" type="xsd:long" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
