src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzHomologacje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzHomologacje_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:include schemaLocation="pobierzRPP.xsd"/>
	<xsd:include schemaLocation="pobierzRodzaj.xsd"/>
	<xsd:complexType name="PobierzHomologacje">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="kodIdent" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="indeksRPP" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DICT.072 Kod RPP</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numerDokumentu" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="pozycjeSzczegoloweHomologacji" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>T - pozycje szczegółowe, N - pozycje nie szczegółowe</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="zapytanieMarka" type="slo:ZapytanieMarka" minOccurs="0"/>
			<xsd:element name="zapytanieModel" type="slo:ZapytanieModel" minOccurs="0"/>
			<xsd:element name="zapytanieTyp" type="slo:ZapytanieTyp" minOccurs="0"/>
			<xsd:element name="zapytanieWariantHomologacji" type="slo:ZapytanieWariantHomologacji" minOccurs="0"/>
			<xsd:element name="zapytanieWersjaHomologacji" type="slo:ZapytanieWersjaHomologacji" minOccurs="0"/>
			<xsd:element name="stanNaDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytanieWariantHomologacji">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="wariant" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodWariantu" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ZapytanieWersjaHomologacji">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory"/>
			<xsd:element name="indeks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="wersja" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodWersji" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzHomologacjeRezultat">
		<xsd:sequence>
			<xsd:element name="homologacje" type="slo:Homologacje" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Homologacje">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="kodIdent" type="xsd:string"/>
			<xsd:element name="RPPIX" type="slo:KodRPP"/>
			<xsd:element name="producentPojazduPodstawowyIX" type="slo:HomologacjaProducent" minOccurs="0"/>
			<xsd:element name="producentOstatniegoEtapuBudowyPojazdu" type="slo:HomologacjaProducent" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="marka" type="slo:Marka"/>
			<xsd:element name="model" type="slo:HomologacjaModel" minOccurs="0"/>
			<xsd:element name="typ" type="slo:HomologacjaTyp" minOccurs="0"/>
			<xsd:element name="wariantHomologacji" type="slo:HomologacjaWariantHomologacji" minOccurs="0"/>
			<xsd:element name="wersjaHomologacji" type="slo:HomologacjaWersjaHomologacji" minOccurs="0"/>
			<xsd:element name="daneDokumentu" type="slo:HomologacjaDokument"/>
			<xsd:element name="daneTechniczne" type="slo:HomologacjaDaneTechniczne"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
			<xsd:element name="emisjaCO2" type="slo:EmisjaCO2" minOccurs="0"/>
			<xsd:element name="pozycjeSzczegolowe" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmisjaCO2">
		<xsd:sequence>
			<xsd:element name="nedcEmisjaCO2" type="slo:NEDCEmisjaCO2" minOccurs="0"/>
			<xsd:element name="nedcEmisjaCO2PaliwaAlternatywnego" type="slo:NEDCEmisjaCO2" minOccurs="0"/>
			<xsd:element name="nedcEmisjaCO2DrugiegoPaliwaAlternatywnego" type="slo:NEDCEmisjaCO2" minOccurs="0"/>
			<xsd:element name="zredukowanaEmisjaCO2" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="technologiaRedukcjiSpalin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rozstawKolOsi" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="rozstawKolOsi1" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="rozstawKolOsi2" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="rozstawKolOsi3" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="rozstawOsi" type="xsd:int" minOccurs="0"/>
			<xsd:element name="nedcSrednieZuzyciePaliwa" type="slo:NEDCSrednieZuzyciePaliwa" minOccurs="0"/>
			<xsd:element name="nedcSrednieZuzycieEnergiiElektrycznej" type="slo:NEDCSrednieZuzycieEnergiiElektrycznej" minOccurs="0"/>
			<xsd:element name="emisjaEURO" type="slo:Rekordy" minOccurs="0"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NEDCEmisjaCO2">
		<xsd:sequence>
			<xsd:element name="cyklMieszany" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="cyklMieszanyWartoscWazona" type="slo:WartoscZakresowaD" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NEDCSrednieZuzyciePaliwa">
		<xsd:complexContent>
			<xsd:extension base="slo:WartoscZakresowaD">
				<xsd:sequence>
					<xsd:element name="jednostka" type="slo:Jednostka" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NEDCSrednieZuzycieEnergiiElektrycznej">
		<xsd:complexContent>
			<xsd:extension base="slo:WartoscZakresowaD">
				<xsd:sequence>
					<xsd:element name="jednostka" type="slo:Jednostka" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaMarka">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="marka">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="markaSTD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nazwaPodstawowa" type="xsd:boolean"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaModel">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="model" type="xsd:string"/>
			<xsd:element name="modelSTD" type="xsd:string"/>
			<xsd:element name="kodRodzaju" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaTyp">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="typ" type="xsd:string"/>
			<xsd:element name="typSTD" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaWariantHomologacji">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="kodWariantu" type="xsd:string"/>
			<xsd:element name="wariant" type="xsd:string"/>
			<xsd:element name="wariantSTD" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaWersjaHomologacji">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="38"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kodWersji">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="150"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="wersja">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="wersjaSTD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaDokument">
		<xsd:sequence>
			<xsd:element name="kategoriaHomologacjiIX" type="slo:KategorieHomologacji" minOccurs="0"/>
			<xsd:element name="numerDokumentu" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numerDokumentuSTD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataUdzieleniaHomologacji" type="xsd:date" minOccurs="0"/>
			<xsd:element name="dataWaznosciHomologacji" type="xsd:date" minOccurs="0"/>
			<xsd:element name="rodzajDokumentuIX" type="slo:Rekordy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DICT.048 Rodzaj potwierdzenia dopuszczenia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="odstepstwa" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaProducent">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="indeks" type="xsd:integer"/>
			<xsd:element name="nazwaProducenta" type="xsd:string"/>
			<xsd:element name="nazwaProducentaSTD" type="xsd:string"/>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HomologacjaDaneTechniczne">
		<xsd:sequence>
			<xsd:element name="pojemnoscSkokowaSilnika" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="mocSilnika" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="mocSilnikaElektrycznego" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="masaWlasna" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="masaPojazduGotowegoDoJazdy" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="wspolczynnikMocyDoMasy" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="dopuszczalnaMasaCalkowita" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="maksymalnaMasaCalkowita" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="masaCiagniategoZespoluPojazdow" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="maksymalnaMasaZespoluPojazdow" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="dopuszczalnaLadownoscCalkowita" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="maksymalnaLadownoscCalkowita" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="dopuszczalnaMasaPrzyczepyZHamulca" type="xsd:int" minOccurs="0"/>
			<xsd:element name="maksymalnaMasaCalkowitaCiagnietejPrzyczepyZHamulcem" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="dopuszczalnaMasaPrzyczepyBezHamulca" type="xsd:int" minOccurs="0"/>
			<xsd:element name="maksymalnaMasaCalkowitaCiagnietejPrzyczepyBezHamulca" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="liczbaMiejscSiedzacych" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="liczbaMiejscStojacych" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="dopuszczalnyNaciskOsi" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="maksymalnyNaciskOsi" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="liczbaOsi" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="liczbaOsiNapedowych" type="slo:WartoscZakresowaI" minOccurs="0"/>
			<xsd:element name="katalizator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="zasilanieSilnika" type="slo:Rekordy" minOccurs="0"/>
			<xsd:element name="zasilanieSilnikaEvh2" type="slo:Rekordy" minOccurs="0"/>
			<xsd:element name="zasilanieSilnikaKpeh" type="slo:Rekordy" minOccurs="0"/>
			<xsd:element name="rodzajPaliwa" type="slo:RodzajePaliw" minOccurs="0"/>
			<xsd:element name="rodzajPaliwaAlternatywnego" type="slo:RodzajePaliw" minOccurs="0"/>
			<xsd:element name="rodzajDrugiegoPaliwaAlternatywnego" type="slo:RodzajePaliw" minOccurs="0"/>
			<xsd:element name="kod_nadwozia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="vmaks" type="slo:WartoscZakresowa" minOccurs="0"/>
			<xsd:element name="zasiegPojazduElektrycznego" type="slo:WartoscZakresowaD" minOccurs="0"/>
			<xsd:element name="zasiegPojazduHybrydowego" type="slo:WartoscZakresowaD" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>