src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzUsterki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by bmaciolek (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzUsterki_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzUsterki">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:Identyfikatory" minOccurs="0"/>
			<xsd:element name="przedmiot" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="zakres" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="stanNaDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="pozycja" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Numeracja stron rozpoczyna się od "1"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PobierzUsterkiRezultat">
		<xsd:sequence>
			<xsd:element name="usterka" type="slo:Usterka" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="stronicowanie" type="slo:Stronicowanie"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Usterka">
		<xsd:sequence>
			<xsd:element name="identyfikatory" type="slo:IdentyfikatoryRezultat"/>
			<xsd:element name="przedmiot" type="xsd:string" minOccurs="0"/>
			<xsd:element name="przedmiotZakres" type="xsd:string" minOccurs="0"/>
			<xsd:element name="zakres" type="xsd:string" minOccurs="0"/>
			<xsd:element name="podzakres" type="xsd:string" minOccurs="0"/>
			<xsd:element name="metoda" type="xsd:string"/>
			<xsd:element name="opis" type="xsd:string"/>
			<xsd:element name="usterkaDrobna" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="usterkaIstotna" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="usterkaStwarzajacaZagrozenie" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="rodzajBadania" type="slo:WartoscSlownikowa">
				<xsd:annotation>
					<xsd:documentation>DICT.098 Rodzaj badania technicznego</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOd" type="xsd:date"/>
			<xsd:element name="dataDo" type="xsd:date"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
