src/Sources/CEP/Connected Services/CepSlownikiUdostepnianie/wsdl-xsd/typy/pobierzRodzajePaliwSubskrypcja.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:slo="http://slowniki.api.cepik.coi.gov.pl" targetNamespace="http://slowniki.api.cepik.coi.gov.pl">
	<xsd:include schemaLocation="common.xsd"/>
	<xsd:include schemaLocation="pobierzRodzajePaliw.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		    Service: SłownikiUdostepnianieSerwis
            Packet: SłownikiUdostepnianiePobierzRodzajePaliwSubskrypcja_4.2.0
            Version: 4.2.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PobierzRodzajePaliwSubskrypcjaRezultat">
		<xsd:complexContent>
			<xsd:extension base="slo:PobierzRodzajePaliwRezultat">
				<xsd:sequence>
					<xsd:element name="timestamp" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PobierzRodzajePaliwSubskrypcja">
		<xsd:complexContent>
			<xsd:extension base="slo:Subskrypcja"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
