IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/zapytaniaMasowe/zapytaniaMasowe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://service.cep.udo.api.cepik.coi.gov.pl" xmlns:el="http://elementy.cep.udo.api.cepik.coi.gov.pl" xmlns:ex="http://exceptions.api.cepik.coi.gov.pl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.cep.udo.api.cepik.coi.gov.pl">
    <wsdl:documentation>
        Version: 3.39.0
    </wsdl:documentation>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://elementy.cep.udo.api.cepik.coi.gov.pl">
            <include schemaLocation="zapytaniaElementy.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exceptions.api.cepik.coi.gov.pl">
            <include schemaLocation="../exceptions/exceptions.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BladTechniczny">
        <wsdl:part name="blad" element="ex:cepikException"/>
    </wsdl:message>
    <wsdl:message name="ZapytanieMasoweRequest">
        <wsdl:part name="in0" element="el:zapytanieMasowe" />
    </wsdl:message>
    <wsdl:message name="ZapytanieMasoweResponse">
        <wsdl:part name="out0" element="el:zapytanieMasoweRezultat" />
    </wsdl:message>
    <wsdl:message name="PytanieOListeZapytanMasowychRequest">
        <wsdl:part name="in0" element="el:pytanieOListeZapytanMasowych" />
    </wsdl:message>
    <wsdl:message name="PytanieOListeZapytanMasowychResponse">
        <wsdl:part name="out0" element="el:pytanieOListeZapytanMasowychRezultat" />
    </wsdl:message>
    <wsdl:message name="PobierzWynikZapytaniaMasowegoRequest">
        <wsdl:part name="in0" element="el:pobierzWynikZapytaniaMasowego" />
    </wsdl:message>
    <wsdl:message name="PobierzWynikZapytaniaMasowegoResponse">
        <wsdl:part name="out0" element="el:pobierzWynikZapytaniaMasowegoRezultat" />
    </wsdl:message>
    <wsdl:portType name="UDOMassWS">
        <wsdl:operation name="ZapytanieMasowe">
            <wsdl:input message="impl:ZapytanieMasoweRequest"/>
            <wsdl:output message="impl:ZapytanieMasoweResponse"/>
            <wsdl:fault name="BladTechniczny" message="impl:BladTechniczny"/>
        </wsdl:operation>
        <wsdl:operation name="PytanieOListeZapytanMasowych">
            <wsdl:input message="impl:PytanieOListeZapytanMasowychRequest" />
            <wsdl:output message="impl:PytanieOListeZapytanMasowychResponse" />
            <wsdl:fault name="BladTechniczny" message="impl:BladTechniczny" />
        </wsdl:operation>
        <wsdl:operation name="PobierzWynikZapytaniaMasowego">
            <wsdl:input message="impl:PobierzWynikZapytaniaMasowegoRequest" />
            <wsdl:output message="impl:PobierzWynikZapytaniaMasowegoResponse" />
            <wsdl:fault name="BladTechniczny" message="impl:BladTechniczny" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UDOMassSoapBinding" type="impl:UDOMassWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ZapytanieMasowe">
            <soap:operation soapAction="zapytanieMasowe"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BladTechniczny">
                <soap:fault name="BladTechniczny" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="PytanieOListeZapytanMasowych">
            <soap:operation soapAction="pytanieOListeZapytanMasowych" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BladTechniczny">
                <soap:fault name="BladTechniczny" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="PobierzWynikZapytaniaMasowego">
            <soap:operation soapAction="pobierzWynikZapytaniaMasowego" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BladTechniczny">
                <soap:fault name="BladTechniczny" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UDOMassService-3-39">
        <wsdl:port name="UDOMassSoapPort-3-39" binding="impl:UDOMassSoapBinding">
            <soap:address location="http://127.0.0.1:8080/przetwarzanie-masowe-ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>