IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/zapytaniaMasowe/zapytaniaElementy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://input.common.udo.api.cepik.coi.gov.pl" xmlns:inp="http://input.cep.udo.api.cepik.coi.gov.pl" xmlns:out="http://output.cep.udo.api.cepik.coi.gov.pl" xmlns:pod="http://podmiot.common.udo.api.cepik.coi.gov.pl" xmlns:ele="http://elementy.cep.udo.api.cepik.coi.gov.pl" targetNamespace="http://elementy.cep.udo.api.cepik.coi.gov.pl">
    <xsd:annotation>
        <xsd:documentation>
            Version: 3.39.0
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://input.cep.udo.api.cepik.coi.gov.pl" schemaLocation="typy/zapytaniaMasoweInput.xsd"/>
    <xsd:import namespace="http://output.cep.udo.api.cepik.coi.gov.pl" schemaLocation="typy/zapytaniaMasoweOutput.xsd"/>
    <xsd:import namespace="http://podmiot.common.udo.api.cepik.coi.gov.pl" schemaLocation="typy/zapytaniaMasoweCommon.xsd"/>

    <xsd:element name="zapytanieMasowe" type="inp:ZapytanieMasowe" />
    <xsd:element name="pytanieOListeZapytanMasowych" type="inp:PytanieOListeZapytanMasowych" />
    <xsd:element name="pobierzWynikZapytaniaMasowego" type="inp:PobierzWynikZapytaniaMasowego" />

    <xsd:element name="zapytanieMasoweRezultat" type="out:ZapytanieMasoweRezultat" />
    <xsd:element name="pytanieOListeZapytanMasowychRezultat" type="out:PytanieOListeZapytanMasowychRezultat" />
    <xsd:element name="pobierzWynikZapytaniaMasowegoRezultat" type="out:PobierzWynikZapytaniaMasowegoRezultat" />
</xsd:schema>