external/wsdl/pl/gov/msw/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PobieranieSubskrypcji"
                  targetNamespace="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl_1="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:import location="interfejsy/pobieranie_subskrypcji.wsdl" namespace="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/"/>

    <wsdl:binding name="SubskrypcjePobieranieSubskrypcjiBinding" type="wsdl_1:SubskrypcjePobieranieSubskrypcji">


    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="dodajNumeryPesel">

    		<soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/dodajNumeryPesel" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>


    		<wsdl:fault name="bladBiznesowyFault">
    			<soap:fault use="literal" name="bladBiznesowyFault" />
    		</wsdl:fault>
    		<wsdl:fault name="bladTechnicznyFault">
    			<soap:fault use="literal" name="bladTechnicznyFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="usunNumeryPesel">

    		<soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/usunNumeryPesel" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>


    		<wsdl:fault name="bladBiznesowyFault">
    			<soap:fault use="literal" name="bladBiznesowyFault" />
    		</wsdl:fault>
    		<wsdl:fault name="bladTechnicznyFault">
    			<soap:fault use="literal" name="bladTechnicznyFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="pobierzSubskrypcjeDaneOsoby">

    		<soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeDaneOsoby" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>


    		<wsdl:fault name="bladBiznesowyFault">
    			<soap:fault use="literal" name="bladBiznesowyFault" />
    		</wsdl:fault>
    		<wsdl:fault name="bladTechnicznyFault">
    			<soap:fault use="literal" name="bladTechnicznyFault" />
    		</wsdl:fault>
    	</wsdl:operation>
        <wsdl:operation name="pobierzSubskrypcjeDaneOsoby2">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeDaneOsoby2" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>
    	<wsdl:operation name="pobierzSubskrypcjeGminnaDaneOsoby">

    		<soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeGminnaDaneOsoby" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>


    		<wsdl:fault name="bladBiznesowyFault">
    			<soap:fault use="literal" name="bladBiznesowyFault" />
    		</wsdl:fault>
    		<wsdl:fault name="bladTechnicznyFault">
    			<soap:fault use="literal" name="bladTechnicznyFault" />
    		</wsdl:fault>
    	</wsdl:operation>

        <wsdl:operation name="pobierzSubskrypcjeInicjalnaDaneOsoby">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeInicjalnaDaneOsoby" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="pobierzSubskrypcjeInicjalnaDaneOsoby2">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeInicjalnaDaneOsoby2" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="pobierzSubskrypcjeInicjalnaGminnaDaneOsoby">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeInicjalnaGminnaDaneOsoby" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="dodajDowodyOsobiste">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/dodajDowodyOsobiste" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="pobierzSubskrypcjeDowodyOsobiste">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeDowodyOsobiste" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="pobierzSubskrypcjeWnioski">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeWnioski" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="pobierzSubskrypcjeCRS">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeCRS" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>


            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="pobierzSubskrypcjeDowodowPoSeriiINumerze">

            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/pobierzSubskrypcjeDowodowPoSeriiINumerze" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="usunDowodyOsobiste">
            <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/usunDowodyOsobiste" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="bladBiznesowyFault">
                <soap:fault use="literal" name="bladBiznesowyFault" />
            </wsdl:fault>
            <wsdl:fault name="bladTechnicznyFault">
                <soap:fault use="literal" name="bladTechnicznyFault" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="SubskrypcjePobieranieSubskrypcji">
        <wsdl:port binding="tns:SubskrypcjePobieranieSubskrypcjiBinding" name="SubskrypcjePobieranieSubskrypcjiPort">
            <soap:address location="http://msw.gov.pl/srp/v3_0/uslugi/subskrypcje/PobieranieSubskrypcji/SubskrypcjePobieranieSubskrypcji/SubskrypcjePobieranieSubskrypcjiPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>