IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/apiUdostepnianie/typy/cepUdoInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Kamil Mętrak (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://input.common.udo.api.cepik.coi.gov.pl" xmlns:inp="http://input.cep.udo.api.cepik.coi.gov.pl" targetNamespace="http://input.cep.udo.api.cepik.coi.gov.pl">
	<xsd:annotation>
		<xsd:documentation>
			Version: 3.39.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://input.common.udo.api.cepik.coi.gov.pl" schemaLocation="udostepnianieCommonInput.xsd"/>
	<xsd:complexType name="PytanieOPojazd">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryPojazdu" type="inp:ParametryPojazdu">
						<xsd:annotation>
							<xsd:documentation>parametry pojazdu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:complexType name="PytanieOPojazdRozszerzone">
        <xsd:complexContent>
            <xsd:extension base="inp:PytanieOPojazd"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PytanieOPojazdNaDate">
        <xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryPojazdu" type="inp:ParametryPojazduNaDate">
						<xsd:annotation>
							<xsd:documentation>parametry pojazdu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PytanieOPojazdNaDateRozszerzone">
        <xsd:complexContent>
            <xsd:extension base="inp:PytanieOPojazdNaDate"/>
        </xsd:complexContent>
    </xsd:complexType>
	<xsd:complexType name="PytanieOListeCzynnosciPojazdu">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryCzynnosci" type="inp:ParametryCzynnosci">
						<xsd:annotation>
							<xsd:documentation>Parametry czynności</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PytanieOPodmiot">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryPodmiotu" type="inp:Podmiot">
						<xsd:annotation>
							<xsd:documentation>Parametry podmiotu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:complexType name="PytanieODecyzjeProfesjonalnejRejestracji">
        <xsd:complexContent>
            <xsd:extension base="com:Pytanie">
                <xsd:sequence>
					<xsd:element name="parametryDecyzjiProfesjonalnejRejestracji" type="inp:ParametryDecyzjiProfesjonalnejRejestracji">
						<xsd:annotation>
							<xsd:documentation>Parametry podmiotu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ParametryDecyzjiProfesjonalnejRejestracji">
        <xsd:all>
            <xsd:element name="identyfikatorSystemowyDecyzji" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry decyzji</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numerDecyzji" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry decyzji</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryCzasowe" type="com:ParametryCzasoweSkrocone" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry dokumentu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryPodmiotu" type="inp:ParametryPodmiotu" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry skrócone firmy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryOsoby" type="inp:ParametrySkroconeOsobyProfesjonalnejRejestracji" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry skrócone firmy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryFirmy" type="inp:ParametrySkroconeFirmyProfesjonalnejRejestracji" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry skrócone firmy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryOznaczenia" type="inp:ParametryOznaczeniaProfRej" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry oznacenia</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryDokumentuBlankietuProfesjonalnejRejestracji" type="inp:ParametryDokumentuBlankietuProfesjonalnejRejestracji" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry dokumentu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parametryCzynnosci" type="inp:ParametryCzynnosciProfesjonalnejRejestracji" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry czynnosci</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="PytanieODokumentPojazdu">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryDokumentuPojazdu" type="inp:ParametryRozszerzoneDokumentuPojazdu">
						<xsd:annotation>
							<xsd:documentation>Parametry rozszerzone dokumentu pojazdu</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParametryRozszerzoneDokumentuPojazdu">
		<xsd:all>
			<xsd:element name="identyfikatorSystemowyDokumentuPojazdu" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy dokumenut pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryDokumentuPojazdu" type="inp:ParametryDokumentuPojazdu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry dokumentu pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Podmiot">
		<xsd:all>
			<xsd:element name="parametryPodmiotu" type="inp:ParametryPodmiotu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry podmiotu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryOsoby" type="inp:ParametryOsoby" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry Osoby</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryFirmy" type="inp:ParametryFirmy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry Firmy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryDokumentuPojazdu">
		<xsd:all>
			<xsd:element name="typDokumentu" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ty dokumentu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumentSeriaNumer" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seria i numer dokumentu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryDokumentuBlankietuProfesjonalnejRejestracji">
		<xsd:all>
			<xsd:element name="dokumentSeriaNumer" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seria i numer dokumentu profesjonalnej rejestracji</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryCzynnosciProfesjonalnejRejestracji">
		<xsd:all>
			<xsd:element name="identyfikatorCzynnosci" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator czynnosci</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryOpisujacePojazd">
		<xsd:all>
			<xsd:element name="marka" type="com:WartoscSlownikowaZasilanieTekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Marka</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numerPodwoziaNadwoziaRamy" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer nadwozia/podwozia/ramy (VIN)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rokProdukcji" type="xsd:gYear" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Rok produkcji</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryPierwszejRejestracji">
		<xsd:all>
			<xsd:element name="dataPierwszejRejestracji" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Data pierwszej rejestracji</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryPojazduSprowadzonego">
		<xsd:all>
			<xsd:element name="numerRejestracyjnyZagraniczny" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zagraniczny numer rejestracyjny</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryPodmiotu">
		<xsd:all>
			<xsd:element name="identyfikatorSystemowyPodmiotu" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy podmiotu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryOznaczeniaPojazdu">
		<xsd:all>
			<xsd:element name="numerRejestracyjny" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numer rejestracyjny</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="ParametryOznaczeniaProfRej">
        <xsd:all>
            <xsd:element name="numerOznaczenia" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Numer oznaczenia</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typOznaczeniaKod" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typ oznaczenia - Wartość słownikowa DICT.227</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ParametryDanychPojazdu">
		<xsd:all>
			<xsd:element name="parametryOznaczeniaPojazdu" type="inp:ParametryOznaczeniaPojazdu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry oznacenia pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryPierwszejRejestracji" type="inp:ParametryPierwszejRejestracji" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry pierwszej rejestracji</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryDokumentuPojazdu" type="inp:ParametryDokumentuPojazdu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry dokumenut pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryPojazduSprowadzonego" type="inp:ParametryPojazduSprowadzonego" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry pojazdu sprowadzonego</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryPodmiotu" type="inp:ParametryPodmiotu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>parametry podmiotu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryOpisujacePojazd" type="inp:ParametryOpisujacePojazd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry opisujące pojazd</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryPojazdu">
		<xsd:all>
			<xsd:element name="identyfikatorSystemowyPojazdu" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryCzasowe" type="com:ParametryCzasoweZHistoria" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry czasowe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryDanychPojazdu" type="inp:ParametryDanychPojazdu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry danych pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="ParametryPojazduNaDate">
		<xsd:all>
			<xsd:element name="identyfikatorSystemowyPojazdu" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryCzasowe" type="com:ParametryCzasowe" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry czasowe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryDanychPojazdu" type="inp:ParametryDanychPojazdu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry danych pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryCzynnosci">
		<xsd:all>
			<xsd:element name="parametryCzasowe" type="com:ParametryCzasowe" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>parametry czasowe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identyfikatorSystemowyPojazdu" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy pojazdu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryOsoby">
		<xsd:all>
			<xsd:element name="PESEL" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PESEL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="imiePierwsze" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pierwsze imię</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwisko" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwisko</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataUrodzenia" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Data urodzenia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="miejsceUrodzenia" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Miejsce urodzenia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="miejsceUrodzeniaKod" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kod miejsca urodzenia</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="parametryAdresu" type="inp:ParametryAdresu" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry adresu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryZagranicznegoDokumentuPotwierdzajacegoTozsamosc" type="inp:ParametryZagranicznegoDokumentuPotwierdzajacegoTozsamosc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parametry zagranicznego dokumenut potwierdzającego tożsamość</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryAdresu">
		<xsd:all>
			<xsd:element name="nazwaWojewodztwaStanu" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa wojewodztwa lub stau</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaPowiatuDzielnicy" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa powiatu lub dzielnicy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaGminy" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa gminy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaMiejscowosci" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa miejscowości</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaUlicy" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa ulicy</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="numerDomu" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Numer domu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kodPocztowy" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Kod pocztowy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryZagranicznegoDokumentuPotwierdzajacegoTozsamosc">
		<xsd:all>
			<xsd:element name="seriaNumerDokumentu" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seria i numer dokumentu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaDokumentu" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa dokumentu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaPanstwaWydajacegoDokument" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa państwa wydającego dokument</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryFirmy">
		<xsd:all>
			<xsd:element name="REGON" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>REGON</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwaFirmyDrukowana" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa firmy drukowana</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identyfikatorSystemowyREGON" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy REGON</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parametryFirmyZagranicznej" type="inp:ParametryFirmyZagranicznej" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>parametry firmy zagranicznej</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="parametryAdresu" type="inp:ParametryAdresu" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parametry adresu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="ParametrySkroconeFirmyProfesjonalnejRejestracji">
		<xsd:all>
			<xsd:element name="REGON" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>REGON</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="nazwaFirmyDrukowana" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwa firmy drukowana</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="ParametrySkroconeOsobyProfesjonalnejRejestracji">
		<xsd:all>
            <xsd:element name="PESEL" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PESEL</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="imiePierwsze" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pierwsze imię</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazwisko" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nazwisko</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataUrodzenia" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Data urodzenia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="seriaNumerDokumentu" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Seria i numer zagranicznego dokumentu potwierdzającego tożsamość</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="typDokumentuKod" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ dokumentu potwierdzającego tożsamość</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ParametryFirmyZagranicznej">
		<xsd:all>
			<xsd:element name="krajZagranicznejWlasnosci" type="com:WartoscSlownikowaZasilanie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kraj zagranicznej działalności</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zagranicznyNumerIdentyfikacyjny" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zagraniczny numer identyfikacyjny</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="PytanieOListeCzynnosciProfRej">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
					<xsd:element name="parametryCzynnosciProfRej" type="inp:ParametryCzynnosciProfRej">
						<xsd:annotation>
							<xsd:documentation>Parametry czynności</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:complexType name="ParametryCzynnosciProfRej">
		<xsd:all>
			<xsd:element name="parametryCzasowe" type="com:ParametryCzasoweCzynnosciSkrocone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>parametry czasowe</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identyfikatorSystemowyCzynnosciProfRej" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy czynnosci</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="identyfikatorSystemowyDecyzjiProfRej" type="xsd:long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identyfikator systemowy decyzji</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
    <xsd:complexType name="PytanieOHistorieLicznika">
		<xsd:complexContent>
			<xsd:extension base="com:Pytanie">
				<xsd:sequence>
                    <xsd:element name="parametryCzasowe" type="com:ParametryCzasowe" minOccurs="0">
        				<xsd:annotation>
        					<xsd:documentation>Parametry czasowe</xsd:documentation>
        				</xsd:annotation>
        			</xsd:element>
                    <xsd:element name="identyfikatorSystemowyPojazdu" type="xsd:long" minOccurs="0">
        				<xsd:annotation>
        					<xsd:documentation>Identyfikator systemowy pojazdu</xsd:documentation>
        				</xsd:annotation>
        			</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
