IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/apiUdostepnianie/typy/udostepnianieCommonOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Kamil Mętrak (Centralny Osrodek Informatyki) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://output.common.udo.api.cepik.coi.gov.pl" xmlns:niezg="http://niezg.api.cepik.coi.gov.pl" targetNamespace="http://output.common.udo.api.cepik.coi.gov.pl">
	<xsd:annotation>
		<xsd:documentation>
			Version: 3.39.0
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://niezg.api.cepik.coi.gov.pl" schemaLocation="../../niezgodnosciTagi/niezgodnosciTagiCommon.xsd"/>
	<xsd:attributeGroup name="odmowaUdostepnienia">
		<xsd:attribute name="odmowaUdostepnienia" type="xsd:boolean" use="optional"/>
	</xsd:attributeGroup>
	<xsd:complexType name="DaneRezultatu">
		<xsd:sequence>
			<xsd:element name="identyfikatorTransakcji" type="xsd:string"/>
			<xsd:element name="iloscZwroconychRekordow" type="xsd:int"/>
			<xsd:element name="znacznikCzasowy" type="xsd:dateTime"/>
			<xsd:element name="identyfikatorUzytkownikaSystemuZewnetrznego" type="xsd:string" minOccurs="0"/>
			<xsd:element name="identyfikatorSystemuZewnetrznego" type="xsd:string" minOccurs="0"/>
			<xsd:element name="znakSprawy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="wnioskodawca" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TypeStringNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:StringNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeIntNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:IntNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDecimalNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:DecimalNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDateNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:DateNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDateTimeNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:DateTimeNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeBooleanNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:BooleanNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeTriStateNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:TriStateNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeString">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeInt">
		<xsd:simpleContent>
			<xsd:extension base="xsd:int">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDecimal">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDate">
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeDateTime">
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeBoolean">
		<xsd:simpleContent>
			<xsd:extension base="xsd:boolean">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeLong">
		<xsd:simpleContent>
			<xsd:extension base="xsd:long">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaUdostepnianie" abstract="true">
		<xsd:sequence>
			<xsd:element name="kod" type="xsd:string"/>
			<xsd:element name="wartoscOpisowaSkrocona" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaUdostepnianieNiezg" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikowaUdostepnianie">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaUdostepnianieRozszerzone">
		<xsd:sequence>
			<xsd:element name="dataOd" type="xsd:dateTime"/>
			<xsd:element name="dataDo" type="xsd:dateTime"/>
			<xsd:element name="kod" type="xsd:string"/>
			<xsd:element name="wartoscOpisowaSkrocona" type="xsd:string"/>
			<xsd:element name="wartoscOpisowa" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
			<xsd:element name="status" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaUdostepnianieRozszerzoneNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikowaUdostepnianieRozszerzone">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikaDedykowanego" abstract="true">
		<xsd:sequence>
			<xsd:element name="dataOd" type="xsd:dateTime"/>
			<xsd:element name="dataDo" type="xsd:dateTime"/>
			<xsd:element name="statusRekordu" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikaDedykowanegoNiezg" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPodmiotUprawniony">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:sequence>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="nazwa" type="xsd:string"/>
					<xsd:element name="numerEwidencyjny" type="xsd:string" minOccurs="0"/>
					<xsd:element name="identyfikatorREGON" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="REGON" type="xsd:string" minOccurs="0"/>
					<xsd:element name="nazwaOrganuWydajacego" type="xsd:string" minOccurs="0"/>
					<xsd:element name="typ" type="com:WartoscSlownikowaUdostepnianieRozszerzone"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPodmiotUprawnionyNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikowaPodmiotUprawniony">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPanstwo">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:sequence>
					<xsd:element name="kodNumeryczny" type="xsd:string"/>
					<xsd:element name="kodIsoAlfa2" type="xsd:string"/>
					<xsd:element name="kodIsoAlfa3" type="xsd:string"/>
					<xsd:element name="kodMks" type="xsd:string" minOccurs="0"/>
					<xsd:element name="czyNalezyDoUE" type="xsd:boolean"/>
					<xsd:element name="nazwa" type="xsd:string"/>
					<xsd:element name="obywatelstwo" type="xsd:string"/>
					<xsd:element name="dataAktualizacji" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPanstwoNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikowaPanstwo">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaWersjaNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodWersji" type="xsd:string"/>
					<xsd:element name="wersjaHomologacji" type="xsd:string" minOccurs="0"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
					<xsd:element name="kod" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaWariantNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodWariantu" type="xsd:string"/>
					<xsd:element name="nazwaWariantu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
					<xsd:element name="kod" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaTypNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="wartoscOpisowa" type="xsd:string"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
					<xsd:element name="kod" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaWspolna">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:sequence>
					<xsd:element name="oznaczenie" type="xsd:string" minOccurs="0"/>
					<xsd:element name="wartoscOpisowa" type="xsd:string" minOccurs="0"/>
					<xsd:element name="kod" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaWspolnaNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikowaWspolna">
				<xsd:attributeGroup ref="niezg:ListaNiezgodnosciAtrybutowych"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaKategoriaHomologacjiNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodKatHom" type="xsd:string"/>
					<xsd:element name="wartoscOpisowa" type="xsd:string" minOccurs="0"/>
					<xsd:element name="kod" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaHomologacjaNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="identyfikatorPozycjiKatalogowej" type="xsd:string" minOccurs="0"/>
					<xsd:element name="numerSwiadectwa" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dataWydania" type="xsd:date" minOccurs="0"/>
					<xsd:element name="dataWaznosci" type="xsd:date" minOccurs="0"/>
					<xsd:element name="identyfikator" type="xsd:decimal" minOccurs="0"/>
					<xsd:element name="odstepstwa" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaMarkaNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodMarki" type="xsd:string"/>
					<xsd:element name="wartoscOpisowa" type="xsd:string"/>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaModelNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="wartoscOpisowa" type="xsd:string"/>
					<xsd:element name="pozycjeSzczegolowe" type="xsd:string" minOccurs="0"/>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaRodzajNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodRodzaj" type="xsd:string"/>
					<xsd:element name="rodzaj" type="xsd:string" minOccurs="0"/>
					<xsd:element name="wersja" type="xsd:decimal"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPodrodzajNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodPodrodzaj" type="xsd:string"/>
					<xsd:element name="podrodzaj" type="xsd:string" minOccurs="0"/>
					<xsd:element name="wersja" type="xsd:decimal"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaPrzeznaczenieNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodPrzeznaczenie" type="xsd:string"/>
					<xsd:element name="przeznaczenie" type="xsd:string" minOccurs="0"/>
					<xsd:element name="wersja" type="xsd:decimal"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaRPPNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodRPP" type="xsd:string" minOccurs="0"/>
					<xsd:element name="rodzaj" type="xsd:string" minOccurs="0"/>
					<xsd:element name="podrodzaj" type="xsd:string" minOccurs="0"/>
					<xsd:element name="przeznaczenie" type="xsd:string" minOccurs="0"/>
					<xsd:element name="wersja" type="xsd:decimal"/>
					<xsd:element name="kod" type="xsd:string" minOccurs="0"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaProducentNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="nazwaProducenta" type="xsd:string"/>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaRodzajPaliwaNiezg">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanegoNiezg">
				<xsd:sequence>
					<xsd:element name="kodPaliwa" type="xsd:string"/>
					<xsd:element name="wartoscOpisowa" type="xsd:string" minOccurs="0"/>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="zrodlo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaCzynnosci">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:sequence>
					<xsd:element name="kodCzynnosci" type="xsd:string"/>
					<xsd:element name="modul" type="xsd:string"/>
					<xsd:element name="opis" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WartoscSlownikowaUsterka">
		<xsd:complexContent>
			<xsd:extension base="com:WartoscSlownikaDedykowanego">
				<xsd:sequence>
					<xsd:element name="kod" type="xsd:string"/>
					<xsd:element name="przedmiot" type="xsd:string" minOccurs="0"/>
					<xsd:element name="zakres" type="xsd:string" minOccurs="0"/>
					<xsd:element name="podzakres" type="xsd:string" minOccurs="0"/>
					<xsd:element name="metoda" type="xsd:string" minOccurs="0"/>
					<xsd:element name="opis" type="xsd:string" minOccurs="0"/>
					<xsd:element name="usterkaDrobna" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="usterkaIstotna" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="usterkaStwarzajacaZagrozenie" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="rodzajBadania" type="com:WartoscSlownikowaUdostepnianieRozszerzone" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeIdentyfikatorSystemowyObiektuNajwyzszegoRzeduNiezg">
		<xsd:complexContent>
			<xsd:extension base="niezg:IdentyfikatorSystemowyObiektuNajwyzszegoRzeduNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypeIdentyfikatorSystemowyNiezg">
		<xsd:simpleContent>
			<xsd:extension base="niezg:IdentyfikatorSystemowyNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeIdentyfikatorSystemowyStringNiezg">
		<xsd:simpleContent>
			<xsd:extension base="niezg:IdentyfikatorSystemowyStringNiezg">
				<xsd:attributeGroup ref="com:odmowaUdostepnienia"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
