external/wsdl/pl/gov/msw/srp/v3_0/uslugi/pesel/Udostepnianie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Udostepnianie" targetNamespace="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:wsdl_1="http://msw.gov.pl/srp/v3_0/uslugi/pesel/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
  <wsdl:import location="interfejsy/udostepnianie.wsdl" namespace="http://msw.gov.pl/srp/v3_0/uslugi/pesel/"/>
  <wsdl:binding name="PeselUdostepnianieBinding" type="wsdl_1:PeselUdostepnianie">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="udostepnijAktualneDaneOsobyPoId">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijAktualneDaneOsobyPoId/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijAktualneDaneOsobPoId">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijAktualneDaneOsobPoId/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijAktualneDaneOsobyPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijAktualneDaneOsobyPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijAktualneDaneOsobyPoPesel2">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijAktualneDaneOsobyPoPesel2/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijAktualneDaneOsobPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijAktualneDaneOsobPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPelneDaneOsobyPoId">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPelneDaneOsobyPoId/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPelneDaneOsobPoId">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPelneDaneOsobPoId/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPelneDaneOsobyPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPelneDaneOsobyPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPelneDaneOsobPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPelneDaneOsobPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="weryfikujIUdostepnijAktualneDaneOsoby">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/weryfikujIUdostepnijAktualneDaneOsoby/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="weryfikujIUdostepnijPelneDaneOsoby">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/weryfikujIUdostepnijPelneDaneOsoby/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijDaneAnulowanejOsobyPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijDaneAnulowanejOsobyPoPesel"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPeselOsobyPoPoprzednimNumerzePesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPeselOsobyPoPoprzednimNumerzePesel"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPoprzednieNumeryPeselOsoby">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPoprzednieNumeryPeselOsoby"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijDaneOstatniegoPaszportu">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijDaneOstatniegoPaszportu"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijNumeryPeselRodzicowPoNumerzePeselDziecka">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijNumeryPeselRodzicowPoNumerzePeselDziecka"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="weryfikujRelacje">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/weryfikujRelacje/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPowiazanieDzieciZRodzicemPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPowiazanieDzieciZRodzicemPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijDaneUKRPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijDaneUKRPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="udostepnijPelneDaneOsobyUKRPoPesel">
      <soap:operation soapAction="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/udostepnijPelneDaneOsobyUKRPoPesel/"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="bladBiznesowyFault">
        <soap:fault name="bladBiznesowyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="bladTechnicznyFault">
        <soap:fault name="bladTechnicznyFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeselUdostepnianie">
    <wsdl:port binding="tns:PeselUdostepnianieBinding" name="PeselUdostepnianiePort">
      <soap:address location="http://msw.gov.pl/srp/v3_0/uslugi/pesel/Udostepnianie/PeselUdostepnianie/PeselUdostepnianiePort"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
