IntegrationHub.Sources.CEP/Connected Services/IntegrationHub.Sources.CEP.ConnectedServices.Udostepnianie/wsdl-xsd/zapytaniaMasowe/typy/zapytaniaMasoweInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comin="http://input.common.udo.api.cepik.coi.gov.pl" xmlns:inp="http://input.cep.udo.api.cepik.coi.gov.pl" xmlns:pod="http://podmiot.common.udo.api.cepik.coi.gov.pl" targetNamespace="http://input.cep.udo.api.cepik.coi.gov.pl">
    <xsd:annotation>
        <xsd:documentation>
            Version: 3.39.0
        </xsd:documentation>
    </xsd:annotation>

    <xsd:include schemaLocation="../../apiUdostepnianie/typy/cepUdoInput.xsd"/>
    <xsd:import namespace="http://podmiot.common.udo.api.cepik.coi.gov.pl" schemaLocation="zapytaniaMasoweCommon.xsd"/>

    <!-- pobierzWynikZapytaniaMasowego -->

    <xsd:complexType name="PobierzWynikZapytaniaMasowego">
        <xsd:sequence>
            <xsd:element name="identyfikatorZapytaniaMasowego" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>
                        Identyfikator zapytania masowego nadawany przez system CEPIK
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="operator" type="pod:Operator" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- pytanieOListeZapytanMasowych -->

    <xsd:complexType name="PytanieOListeZapytanMasowych">
        <xsd:sequence>
            <xsd:element name="zapytanieMasowe" type="inp:ZapytanieMasoweDoListy" minOccurs="0" />
            <xsd:element name="operator" type="pod:Operator" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ZapytanieMasoweDoListy">
        <xsd:sequence>
            <xsd:element name="identyfikatorZapytaniaMasowego" type="xsd:long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identyfikator zapytania masowego nadawany przez system CEPIK
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazwaPlikuImportu" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Nazwa pliku importu przekazywana na wejściu.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="255"/>
                        <xsd:whiteSpace value="collapse"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- zapytanieMasowe -->

    <xsd:complexType name="ZapytanieMasowe">
        <xsd:sequence>
            <xsd:element name="nazwaPlikuImportu" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Nazwa pliku importu przekazywana na wejściu.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="255"/>
                        <xsd:whiteSpace value="collapse"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="zapytanie" type="inp:Zapytanie" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="operator" type="pod:Operator" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Zapytanie">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="pytanieOPojazd" type="inp:PytanieOPojazd"/>
                <xsd:element name="pytanieOPojazdRozszerzone" type="inp:PytanieOPojazdRozszerzone"/>
                <xsd:element name="pytanieOPodmiot" type="inp:PytanieOPodmiot"/>
                <xsd:element name="pytanieOPojazdNaDate" type="inp:PytanieOPojazdNaDate"/>
                <xsd:element name="pytanieOPojazdNaDateRozszerzone" type="inp:PytanieOPojazdNaDateRozszerzone"/>
        </xsd:choice>
            <xsd:element name="identyfikatorZapytaniaWPakiecie" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Identyfikator zapytania na potrzeby wyszukania zapytania w pakiecie zwrotnym. Identyfikator jest nadawany przez pytającego. Może miec dowolną wartość (np. "nr. 1" lub "Pytanie o dokument Kowalskiego").
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1" />
                        <xsd:maxLength value="500"/>
                        <xsd:whiteSpace value="collapse"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>